<!DOCTYPE html>
<html>
    <head>
        <title>V치코 profil</title>
    </head>

    <body>
<h1>V치코 profil</h1>
<h1>{{username}}</h1>


<table>
        <tr>
            <th>Pokoj</th>
            <th>Stav</th>
            <th>Check-IN</th>
            <th>Check-OUT</th>
        </tr>
     {{#each reservations}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.status}}</td>
            <td><input value='{{this.description}}'></td>
            <td>{{this.completed}}</td>
            <td><select value={{this.completed}}>  
                <option value="true">true</option>
                <option value="false">false</option>
                </select>                
            </td>  
            <td><button>Aktualizovat</button></td>
            <td><button>Odstranit</button></td>
        </tr>
    {{/each}}
</table>

</body>
</html>